<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809867189620-9c2vni62202d3glng1srln39qhd6svjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809867189620-9c2vni62202d3glng1srln39qhd6svjv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>809867189620-h98t4no79qh9bk5es422m759lcit2pr3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzolDEm3B10IHgLQ3uvcrtT_X1Jm6UUk4</string>
	<key>GCM_SENDER_ID</key>
	<string>809867189620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Carrito</string>
	<key>PROJECT_ID</key>
	<string>fir-example-3024f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-3024f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809867189620:ios:1b23bd7d6495f66762a021</string>
	<key>DATABASE_URL</key>
	<string>https://fir-example-3024f.firebaseio.com</string>
</dict>
</plist>